@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
   text-decoration: none;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   
}
body{
    height: 100vh;
    text-align: center;
    background-color: aliceblue;
    padding: 1rem;
}
.header-content{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: midnightblue;
    gap: 0.625rem;
}
.logo-icon{
    height: 1.575rem;
    width: 1.538rem;

}
.logo-text{
    font-size: 1.3rem;
    font-weight: 900;
}
.nav{
    display: none;
    gap: 1.5rem;
}
@media screen and (min-width:768px){
    .nav{
        display: flex;
    }
}

.nav-link{
    color: midnightblue;
    font-size: 0.9rem;
    transform: color 0.1s;
    
}
.nav-link:hover{
    color: blue;
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.3rem;
    background-color: blueviolet;
    color: white;
    transform: all 0.1s;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
}
 @media screen and (min-width:768px){
    .contact-button{
        display: block;
     }  
}
.contact-button:hover{
    background-color: midnightblue;
}
.menu-button{
    display: none;
    border: none;
    border-radius: 0.3785rem;

}
@media screen and (max-width:768px){
    .menu-button{
        display: block;
      
    }
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}
.main-content{
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align: center;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}
@keyframes slidefromleft{
    0%{
        opacity: 0%;
        transform: translate(-100%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.section-label{
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}
.section-title{
    font-size: 2.3rem;
    color: black;
    padding: 1rem;

}
.section-description{
    color: black;
    font-size:0.9rem;
}
.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;

}
.start-button, .tour-button{
    border: none;
    border-radius: 0.3rem;
    background-color: blueviolet;
    color: white;
    transform: all 0.1s;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.tour-button{
    background-color: grey;
}
.start-button:hover{
    background-color:  midnightblue;;
}
.tour-button:hover{
    background-color: darkgrey;
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container{
    border: none;
    border-radius: 1.26rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 57vh;
}
.section-image{
    height: 100%;
}
@media screen and (min-width:768px){
    .main-content{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    
}
.section-title{
    padding-left:  0;
}
.button-group{
    justify-content: start;
    padding-left: 0;
}
.section-title{
    font-size: 3.5rem;
    font-weight: 600;
}
.image-container{
    height: 67vh;
}
}
.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slidefromleft 1s ease forwards;
    margin-bottom: 1rem;

}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color:rgb(235, 234, 234);
    border: none;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 0.5;
    justify-content: center;
    align-items: center;
    

}
.svg-image{
    height: 20px;

}
.logo-Text{
    font-size: small;
}
.feature-container{
    background-color: rgb(235, 234, 234);
    padding: 2.5rem 0;
    text-align: center;
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}
.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-title{
    font-size: 2rem;
    font-weight: bold;
}
.main-description{
    color: grey;
    font-size: 1rem;
}
.feature-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-top: 1.3rem;
    
}
.icon-container{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    padding: 1.6rem;
    border-radius: 1rem;
    gap: 1rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-title{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
.feature-description{
    color: white;
}
.feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #ff6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}
@media screen and (max-width:768px){
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
      
    }
}
.testimonial-container{
    background-color: aliceblue;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1080px;
}
.testimonial-title{
    font-size: 1.8rem;
    font-weight: bold;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 1.5rem;
    
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0.8rem ;
    gap: 1rem;
    transition: transform 0.3s ,box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid blue;
}
.testimonial-avatar img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.testimonial-text{
    font-size: 0.8rem;
}
.newsletter-container{
    background-color: aliceblue;
    padding: 2rem;
    max-width: 1080px;
    height: 40vh;
    margin: 0 auto;
}
.newsletter-content{
    display: flex;
    background-color: rgb(235, 234, 234);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.news-left{
    width: 50%;
    height: 100%;
    display: none;
    position: relative;

}
.news-left img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   
}
@media screen and (min-width:640px){
    .news-left{
        display: block;
        width: 50%;
    }
    .news-right{
        width: 50%;
    }
    .newsletter-container{
        padding: 2rem;
    }
}
.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
}
.news-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: midnightblue;
}
.news-info{
    padding:0 3rem;
}
.news-desc{
    text-align: left;
    color:#777;
}
.news-form{
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
}
.news-email{
    background-color: aliceblue;
    width: 100%;
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.7rem;
}
.news-email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.13);
}
.news-button{
    background-color: midnightblue;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding:0.5rem 1rem;
}
.news-button:hover{
    background-color: #2563eb;
}
.privacypolicy{
    padding: 0 3rem;
    font-size: 0.9rem;
}
.news-link{
    text-decoration: underline;
    color: blue;
}
@media  screen and (min-width:640px) {
    .news-title{
        font-size: 1.5rem;
    }
}
.footer-container{
    background-color: aliceblue;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
}
.footer{
    max-width: 1080px;
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    
    
}
.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.logo-svg{
    width: 1.8rem;
    height: 5.8rem;
}
.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.7rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 58%;
    grid-gap: 5.6rem;
    padding: 2rem 1rem;
}
.footer-grid-heading{
    font-size: 1rem;
    font-weight: bold;
}
ul{
    list-style-type: none;
}
.footer-links{
    color: #777;
    font-size: 0.8rem;

}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem ;
}
.footer-copyright{
    color: #777;
    font-size: 0.8rem;
    padding-bottom: 2rem;
    margin-top: 1.5rem;
    border-top: 1px solid #777;
    padding-top: 1.5rem;
}
@media screen and (max-width:1040px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
    
}
@media screen and (max-width:850px){
    .footer-top{
        padding-left: 5rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}